---
import Team from "../../components/Team.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../../assets/karuna_logo.svg";
---

<Layout>
  <div
    class="flex flex-col items-center justify-center w-full mt-24 mx-auto"
    slot="content"
  >
    <Image
      src={logo}
      alt="Karuna Law Logo"
      width={120}
      height={120}
      class="mb-6"
    />
    <div class="text-center">
      <h2 class="text-4xl font-bold text-gray-900 mb-4">Our Team</h2>
      <p class="text-gray-600 text-lg">
        Meet the professionals dedicated to serving you
      </p>
    </div>
    <Team />
  </div>
</Layout>
