---
import Team from "../../components/Team.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div
    class="flex flex-col items-center justify-center w-full mt-24 mx-auto"
    slot="content"
  >
    <Team />
  </div>
</Layout>
